<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>El doc de los Autos</title>
    <link rel="icon" href="../public/images/5fce86128115479.Y3JvcCwxMDgwLDg0NCwwLDExNw.jpeg">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="../public/css/style.css">
<link rel="stylesheet" href="../public/css/normalize.css">
<script src="https://kit.fontawesome.com/26b2b2862f.js" crossorigin="anonymous"></script>
</head>
<body>
    <header class="encabezado">
        <div class="encabezado-derecho">
        <a href="../views/index.html"></a><img src="../public/images/vector-automovil-taller-mecanico-mecanico_75487-646.webp" alt="logo" class="logo" width="200px" height="200px">
    </div>
        <nav class="encabezado-izquierdo">
        <ul class="barra">
            <li> <a href=#nuestra-historia>Nosotros</a> </li>
            <li> <a href=#derecha-servicios>Servicios</a> </li>
            <li> <a href=#derecha-contactos>Contactos</a> </li>
        </ul>    

        </nav>
    </header>
    <main>
        </div class:derecha><section class="first-section" id="first-section"></section>
        <h1>Bienvenid@s</h1>

        <section class="Second-section">
            <p id="p1"> <strong><h2>Nuestra Historia</h2></strong>
                Este emprendimiento surgió debido a la gran pasion familiar por los fierros, impregnada en nuestro adn familiar.</p>
                <p>Este legado familiar, llego desde europa, y se levanto a puro esfuerzo y sacrificio.</p> 
                <p>Capacitandonos y tratando de avanzar al ritmo de los avances tecnológicos</p> 
        </section>
        </div> 

        </section class="third-section">
        <div class="izquierda">
            <img src="../public/images/Facebook_Post_-_33-1-2-900x600.webp" alt="Taller" class="taller"
            <p id="p2">
           Logramos que su legado sea transmitido de generación en generación, consolidandonos en el mercado actual.</p>
           <p>Agradecemos su confianza y estamos siempre atentos a sus recomendaciones y opiniones para poder lograr una mejora continua en nuestros servicios y calidad de atencion.</p>
            
        <br><h3> Nuestros Servicios</h3>
        </div><section class="derecha-servicios" id="derecha-servicios">
            <ul>
    <li class="disc"><a href="#">Diagnóstico computarizado</a> </li>
    <li><a href="#">Mecánica completa</a> </li>
    <li><a href="#">Electrónica</a>  </li>
    <li><a href="#">Electricidad</a>  </li>
    <li><a href="#">Chapa y pintura</a>  </li>
    <li><a href="#">Neumaticos, Alineacion y balanceo</a> </li>
</ul>
            </p>
           </div> 

        </section class="fourth-section">
        <div>
            <br><h4>Comunicate con Nosotros</h4>
        </div><section class="derecha-contactos" id="derecha-contactos">
        <section class="Nosotros" id="Nosotros">
            <div class="formulario"></div>
            <form action="https://formspree.io/f/mjvlnaby" method="post">

            <label for="nombre">nombre</label>
            <input type="text" name="nombre" id="nombre" required placeholder="david meza">

            <label for="pass">contraseña</label>
            <input type="pass" name="pass" id="pass" required>

            <label for="email">correo</label>
            <input type="email" name="email" id="email">

            <label for="consulta">deje su consulta</label>
            <textarea name="consulta" id="consulta" required></textarea>

            <label for="lista">seleccione su servicio</label>
            <select name: id="lista"></section>
            <option value="Diagnóstico computarizado">Diagnóstico computarizado</option>
            <option value="Mecánica completa">"Mecánica completa"</option>
            <option value="Electrónica">"Electrónica"</option>
            <option value="Electricidad">"Electricidad"</option>
            <option value="Chapa y pintura">"Chapa y pintura"</option>
            <option value="Neumaticos, Alineacion y balanceo">"Neumaticos, Alineacion y balanceo"</option></select>

            
            <section class="fifth-section">
                <div>
                    <label for="radio" >Seleccione método de pago</label>
                    <p class="radio-b"><input type="radio" name="método" value="Efectivo">Efectivo</p>
                    <p class="radio-b"><input type="radio" name="método" value="Tarjeta de Débito">Tarjeta de Débito</p>
                    <p class="radio-b"><input type="radio" name="método" value="Tarjeta de Crédito">Tarjeta de Crédito</p>

                    <label for="términos y condiciones">acepto términos</label>
                    <input type="checkbox" name="términos">
                    <label for="fecha">Ingrese fecha de consulta</label>
                    <input type="date" name="fecha" min="2022-01-01" max="2022-12-31">
                    <label for="avatar">Adjunte fotos de su vehiculo</label>
                    <input type="file" name="avatar" id="avatar" accept=".jpg, .png" multiple>
                </div>
            </section>
            
            
            <button type="submit">Enviar</button>
            <button type="reset">Cancelar</button>
            </form>
        </div>
    </section>
    </main>
</body>
</html>

    <footer>
       <div class="icono-footer"><a href="#"><i class="fa-brands fa-facebook"></i></a></div> 
       <div class="icono-footer"><a href="#"> <i class="fa-brands fa-instagram"></i></a></div>
       <div class="icono-footer"><a href="#"><i class="fa-brands fa-whatsapp"></i></a></div>
        </footer>
