*{padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.html{
   font-size: 62.5%; 
   font-family: 'Roboto', sans-serif;
}


.p1{
    font-size:20px;
}

.img.logo{
    display: flex;
    align-self: stretch;
    text-align: center;
}
body{
    width: 80vw;
    font-family: 'Roboto', sans-serif;
    background-color:salmon
}

.encabezado{
    width: 100vw;
    background-color: cyan(0, 247, 255);
    display: flex;
}

 
  
.encabezado-izquierdo{
    display: flex;
    
    }
.encabezado-izquierdo ul li a{
    text-decoration: none;

} 

.encabezado-derecho{
    display: flex;
    align-items:center;
    justify-content: space-between


}    

.barra{
    width: 450px; height: 85px; ;
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items:center;
    font-size: 25px
} 
 .barra a{
   text-decoration: none;
   color: black;
}

input, textarea, button{
    display: block;
}

.radio-b{
    display: flex;
    align-items: center;

}
a:link{
    color: black;
    font-weight: bold;
}  
    
.bienvenidos{
    animation-name: Nos;
animation-duration: 3s;
animation-direction: alternate;
}   

@keyframes bienvenidos{
    0%{opacity: 0%;}
    50%{
        font-size: larger;
        opacity: 100%;
        color: orange;
    }
    100%{opacity: 0%;}
}

.first-section{
    display: flex;
    height: 20px;
    justify-content: center;
    align-items: center;
}

.second-section{
    text-align: center;
}
.third-section div{
    width: 50vw;
}
.taller{
    width: 100vw;
    height: 500px;
    
}



footer{
    display: flex;
    height: 129px;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    
    
 
}

footer a{
    font-size: 50px;
    margin: 20px;
}

footer div{
    display: flex;
    border: 2px black solid;
    border-radius: 215px;
    width: 76px;
    height: 76px;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 10px;
}